<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="content-search">
  <div class="box-search-label v-align">
    <label class="label-search">
      <span class="bold">Github</span>
      <span class="italic">Search</span>
    </label>

    <div class="box-search-input">
      <input type="text" class="input-lg input-search" name="username" id="username" [ngModel]="user.name">
      <button type="submit" class="btn btn-search btn-lg">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>