.label-search {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
}

.label-search .bold{
    font-family: var(--font-raleway);
}

.content-search{
    text-align: center;
    position: absolute;
    top: -20%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 60px;
    margin: auto;
}

.box-search-input{
    position: relative;
}

.input-search{
    width: 80%;
    padding: 8px 20px 7px;
    font-size: 22px;
    display: inline-block;
    outline-color: var(--color-lightgray) !important;
    border-radius: 2px;
    border: 1px solid var(--color-gray);
    transition: 0.3s;
}

.btn-search{
    display: inline-block;
    position: absolute;
    margin: 0;
    border: 1px solid var(--color-purple);
    transition: 0.3s;
}

.btn-search:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btn-lg{
    height: 50px;
    width: 100px;
    background-color: var(--color-purple);
    color: var(--color-white);
    border-radius: 2px;
    border: 2px solid var(--color-purple);
}
