.perfil-info{
    margin-top: 10px;
}

.box-perfil-img{
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-right: 40px;
}

.box-perfil-img img{
    width: 100%;
    height: 100%;
}

/* Titles */
.title-user{
    font-size: 35px;
    color: var(--color-black);
    margin: 10px 0 5px;
    font-weight: 300;
}

.subtitle-user{
    color: var(--color-brownish-grey);
    font-size: 20px;
    text-transform: lowercase;
    margin: 0 0 20px;
    font-weight: 300;
}

.box-img{
    position: relative;
}

.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-user-info{

}

.list-user-info li{
    padding: 5px 0;
    position: relative;
}

.list-user-info li .legend-info{
   /* position: absolute;*/
    margin: 5px 6px 8px 10px;
    top: 0;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-brownish-grey);
}
