<div class="content-search">
  <div class="box-search-label v-align">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4">
          <label for="search" class="label-search">
            <span class="bold">Github</span>
            <span class="italic">Search</span>
          </label>
        </div>
        <div class="col-12 col-sm-8">
          <div class="box-search-input">
            <input type="text" class="input-lg input-search" name="search" id="search">
            <button type="button" class="btn btn-search btn-lg">
              Icone
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>